@charset "utf-8";
/* CSS Document */


body {font-family: Arial;}

/* Style the tab */
.banner {
margin: 0;
 padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
	color: white;
	text-align: center;
	font-size: 30px;
}
.row {
background-color: #38023B;
color: white;	
}
.tab {
	width: 80%;
  overflow: hidden;
  border: 1px solid #ccc;
	
border-bottom: 5px solid #EB4E01;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);

}

/* Style the buttons inside the tab */
.tab button {
  background: #3F3F3D;
  float: left;
  border: white;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

tab button:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -100;
	width: 100%;
	left: 0;
	margin-top: 16px;
	height: 80px;
	background: #2B2A28;
	border-bottom: 5px solid #EB4E01;
}
tab button:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 0;
	height: 80px;
	width: 102px;
	background: #EB4E01;
	transition: transform 400ms;
}
/* Change background color of buttons on hover */
.tab button:hover {
 background-color: #EB4E01;
	
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: orangered;
}

/* Style the tab content */
.tabcontent {
width: 80%;
height: 600px;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tablinks {
border: red;
color: white;
}
button{
border: #CB1A1D;			
}

iframe {
         border: none;
	height: 100%;	
		}
		div#New York.tabcontent {
		height: 400pxdiv#New York.tabcontent {
		height: 100%;	
			
		}
		div#Tokyo.tabcontent {
		height: 100%;	
		}
